@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}